* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#section-10-145 {
    gap: 20px;
}

.enlaces-header {
     margin-bottom: 50px;
     background: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    min-height: 50px;
    width: 75%;
    border: 1px solid red;
    text-align: center;
}

#div_block-11-145 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 200px;
}
.service--wrapper{
margin-left: 40px;
width: 60%;
padding: 30px;
padding-top: 120px;
padding-bottom: 200px;
border: 1px solid green;
}
.link--anchor {
    padding: 12px;
    text-transform: uppercase;
}

.ancla-activa {
    font-size: 24px;
    font-weight: bold;
    color: red;
}